<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="shortcut icon" href="{{ url_for('static', filename='Rb-star.ico') }}">
<input type="button" value="BACK MAIN" onclick="history.back()" STYLE="font-family:Verdana; font-size: 30px;"/>
<h2>wordl cheat possible word count {{xlen}}</h2>
<p style="font-family:Verdana; font-size: 15px;"> {{words}} </p>
<input type="button" value="BACK MAIN" onclick="history.back()" STYLE="font-family:Verdana; font-size: 30px;"/>
<!-- <p>debug "{{mask}}"</p> -->
