<h2 style="text-align: center;">Nestor's Wordl Cheat Sheet</h2>
<h3 style="text-align: center;">LOWERCASE ONLY. Type 1 green char into green box. Yellows into yellow. Add grey chars to 'NOT CHARS'.</h3>
<h3 style="text-align: center;">LOWERCASE ONLY. Hit submit to see all the available words + count</h3>
<form action="/data" method = "POST">
<div></div>
<p>
    <input type = "submit" value = "Submit" autocapitalize="none"
           STYLE="font-family: Verdana; font-weight: bold; font-size: 30px;"/>
</p>

<p>NOT CHARS <input type = "text" name = "nn" value = "" autocapitalize="none" tabindex="11" size="20" maxlength="20"
        STYLE="color: #FFFFFF; font-family: Verdana; font-weight: bold; font-size: 30px; background-color: #787C7E;"/>
</p>
<p>
    C1 <input type = "text" name = "c1" value = "" autocapitalize="none" tabindex="1" size="1" maxlength="1"
    STYLE="color: #FFFFFF; font-family: Verdana; font-weight: bold; font-size: 30px; background-color: #6AAA64;"/>
    <input type = "text" name = "y1" value = "" autocapitalize="none" tabindex="6" size="1" maxlength="1"
    STYLE="color: #FFFFFF; font-family: Verdana; font-weight: bold; font-size: 30px; background-color: #C9B458;"/>
</p>
<p>
    C2 <input type = "text" name = "c2" value = "" autocapitalize="none" tabindex="2" size="1" maxlength="1"
    STYLE="color: #FFFFFF; font-family: Verdana; font-weight: bold; font-size: 30px; background-color: #6AAA64;"/>
    <input type = "text" name = "y2" value = "" autocapitalize="none" tabindex="7" size="1" maxlength="1"
    STYLE="color: #FFFFFF; font-family: Verdana; font-weight: bold; font-size: 30px; background-color: #C9B458;"/>
</p>
<p>
    C3 <input type = "text" name = "c3" value = "" autocapitalize="none" tabindex="3" size="1" maxlength="1"
    STYLE="color: #FFFFFF; font-family: Verdana; font-weight: bold; font-size: 30px; background-color: #6AAA64;"/>
    <input type = "text" name = "y3" value = "" autocapitalize="none" tabindex="8" size="1" maxlength="1"
    STYLE="color: #FFFFFF; font-family: Verdana; font-weight: bold; font-size: 30px; background-color: #C9B458;"/>
</p>
<p>
    C4 <input type = "text" name = "c4" value = "" autocapitalize="none" tabindex="4" size="1" maxlength="1"
    STYLE="color: #FFFFFF; font-family: Verdana; font-weight: bold; font-size: 30px; background-color: #6AAA64;"/>
    <input type = "text" name = "y4" value = "" autocapitalize="none" tabindex="9" size="1" maxlength="1"
    STYLE="color: #FFFFFF; font-family: Verdana; font-weight: bold; font-size: 30px; background-color: #C9B458;"/>
</p>
<p>
    C5 <input type = "text" name = "c5" value = "" autocapitalize="none" tabindex="5" size="1" maxlength="1"
    STYLE="color: #FFFFFF; font-family: Verdana; font-weight: bold; font-size: 30px; background-color: #6AAA64;"/>
    <input type = "text" name = "y5" value = "" autocapitalize="none" tabindex="10" size="1" maxlength="1"
    STYLE="color: #FFFFFF; font-family: Verdana; font-weight: bold; font-size: 30px; background-color: #C9B458;"/>
</p>
</form>
