<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="shortcut icon" href="{{ url_for('static', filename='Rb-star.ico') }}">
<link rel="icon" href="{{ url_for('static', filename='Rb-star.ico') }}">
<meta name="description" content="latest wordl cheat.">
<h2 style="text-align: center;">Wordl Cheat Sheet</h2>
<h3 style="text-align: center;">Copy Green, Yellow, Grey characters from wordl and hit submit</h3>
<form action="/data3" method = "POST">
<div></div>
<p>
    <input type = "submit" value = "Submit" autocapitalize="none"
           STYLE="font-family: Verdana; font-weight: bold; font-size: 30px;"/>
</p>

<p><input type = "text" name = "nn" value = "" autocapitalize="none" tabindex="0" size="17" maxlength="17"
        STYLE="text-transform:lowercase; color: #FFFFFF; font-family: Verdana; font-weight: bold; font-size: 30px; background-color: #787C7E;"/>
</p>
<p>
    <!-- row1 green r1g1 r1g2 r1g3 r1g4 r1g5  -->
    <input type = "text" name = "r1g1" value = "" autocapitalize="off" tabindex="1" size="1" maxlength="1"
                STYLE="text-transform:lowercase; color: #FFFFFF; font-family: Verdana; font-weight: bold; font-size: 30px; background-color: #6AAA64;"/>
    <input type = "text" name = "r1g2" value = "" autocapitalize="none" tabindex="2" size="1" maxlength="1"
                STYLE="text-transform: lowercase; color: #FFFFFF; font-family: Verdana; font-weight: bold; font-size: 30px; background-color: #6AAA64;"/>
    <input type = "text" name = "r1g3" value = "" autocapitalize="none" tabindex="3" size="1" maxlength="1"
                STYLE="text-transform:lowercase; color: #FFFFFF; font-family: Verdana; font-weight: bold; font-size: 30px; background-color: #6AAA64;"/>
    <input type = "text" name = "r1g4" value = "" autocapitalize="none" tabindex="4" size="1" maxlength="1"
                STYLE="text-transform:lowercase; color: #FFFFFF; font-family: Verdana; font-weight: bold; font-size: 30px; background-color: #6AAA64;"/>
    <input type = "text" name = "r1g5" value = "" autocapitalize="none" tabindex="5" size="1" maxlength="1"
           STYLE="text-transform:lowercase; color: #FFFFFF; font-family: Verdana; font-weight: bold; font-size: 30px; background-color: #6AAA64;"/>
</p>
<p>
    <!-- row2 yellow1 r2y1 r2y2 r2y3 r2y4 r2y5 -->
    <!-- r2 yellow -->
    <input type = "text" name = "r2y1" value = "" autocapitalize="none" tabindex="16" size="1" maxlength="1"
           STYLE="text-transform:lowercase; color: #FFFFFF; font-family: Verdana; font-weight: bold; font-size: 30px; background-color: #C9B458;"/>
    <input type = "text" name = "r2y2" value = "" autocapitalize="none" tabindex="17" size="1" maxlength="1"
           STYLE="text-transform:lowercase; color: #FFFFFF; font-family: Verdana; font-weight: bold; font-size: 30px; background-color: #C9B458;"/>
    <input type = "text" name = "r2y3" value = "" autocapitalize="none" tabindex="18" size="1" maxlength="1"
           STYLE="text-transform:lowercase; color: #FFFFFF; font-family: Verdana; font-weight: bold; font-size: 30px; background-color: #C9B458;"/>
    <input type = "text" name = "r2y4" value = "" autocapitalize="none" tabindex="19" size="1" maxlength="1"
           STYLE="text-transform:lowercase; color: #FFFFFF; font-family: Verdana; font-weight: bold; font-size: 30px; background-color: #C9B458;"/>
    <input type = "text" name = "r2y5" value = "" autocapitalize="none" tabindex="20" size="1" maxlength="1"
           STYLE="text-transform:lowercase; color: #FFFFFF; font-family: Verdana; font-weight: bold; font-size: 30px; background-color: #C9B458;"/>
</p>
<p>
    <!-- row3 yellow 2 r3y1 r3y2 r3y3 r3y4 r3y5 -->
    <input type = "text" name = "r3y1" value = "" autocapitalize="none" tabindex="26" size="1" maxlength="1"
           STYLE="text-transform:lowercase; color: #FFFFFF; font-family: Verdana; font-weight: bold; font-size: 30px; background-color: #C9B458;"/>
    <input type = "text" name = "r3y2" value = "" autocapitalize="none" tabindex="27" size="1" maxlength="1"
           STYLE="text-transform:lowercase; color: #FFFFFF; font-family: Verdana; font-weight: bold; font-size: 30px; background-color: #C9B458;"/>
    <input type = "text" name = "r3y3" value = "" autocapitalize="none" tabindex="28" size="1" maxlength="1"
           STYLE="text-transform:lowercase; color: #FFFFFF; font-family: Verdana; font-weight: bold; font-size: 30px; background-color: #C9B458;"/>
    <input type = "text" name = "r3y4" value = "" autocapitalize="none" tabindex="29" size="1" maxlength="1"
           STYLE="text-transform:lowercase; color: #FFFFFF; font-family: Verdana; font-weight: bold; font-size: 30px; background-color: #C9B458;"/>
    <input type = "text" name = "r3y5" value = "" autocapitalize="none" tabindex="30" size="1" maxlength="1"
           STYLE="text-transform:lowercase; color: #FFFFFF; font-family: Verdana; font-weight: bold; font-size: 30px; background-color: #C9B458;"/>
</p>
<p>
    <!-- row4 yellow 3 r4y1 r4y2 r4y3 r4y4 r4y5 -->
    <!-- r4 yellow -->
    <input type = "text" name = "r4y1" value = "" autocapitalize="none" tabindex="36" size="1" maxlength="1"
           STYLE="text-transform:lowercase; color: #FFFFFF; font-family: Verdana; font-weight: bold; font-size: 30px; background-color: #C9B458;"/>
    <input type = "text" name = "r4y2" value = "" autocapitalize="none" tabindex="37" size="1" maxlength="1"
           STYLE="text-transform:lowercase; color: #FFFFFF; font-family: Verdana; font-weight: bold; font-size: 30px; background-color: #C9B458;"/>
    <input type = "text" name = "r4y3" value = "" autocapitalize="none" tabindex="38" size="1" maxlength="1"
           STYLE="text-transform:lowercase; color: #FFFFFF; font-family: Verdana; font-weight: bold; font-size: 30px; background-color: #C9B458;"/>
    <input type = "text" name = "r4y4" value = "" autocapitalize="none" tabindex="39" size="1" maxlength="1"
           STYLE="text-transform:lowercase; color: #FFFFFF; font-family: Verdana; font-weight: bold; font-size: 30px; background-color: #C9B458;"/>
    <input type = "text" name = "r4y5" value = "" autocapitalize="none" tabindex="40" size="1" maxlength="1"
           STYLE="text-transform:lowercase; color: #FFFFFF; font-family: Verdana; font-weight: bold; font-size: 30px; background-color: #C9B458;"/>
</p>
<p>
    <!-- row5 yellow 4 r5y1 r5y2 r5y3 r5y4 r5y5 -->
    <input type = "text" name = "r5y1" value = "" autocapitalize="none" tabindex="55" size="1" maxlength="1"
           STYLE="text-transform:lowercase; color: #FFFFFF; font-family: Verdana; font-weight: bold; font-size: 30px; background-color: #C9B458;"/>
    <input type = "text" name = "r5y2" value = "" autocapitalize="none" tabindex="56" size="1" maxlength="1"
           STYLE="text-transform:lowercase; color: #FFFFFF; font-family: Verdana; font-weight: bold; font-size: 30px; background-color: #C9B458;"/>
    <input type = "text" name = "r5y3" value = "" autocapitalize="none" tabindex="57" size="1" maxlength="1"
           STYLE="text-transform:lowercase; color: #FFFFFF; font-family: Verdana; font-weight: bold; font-size: 30px; background-color: #C9B458;"/>
    <input type = "text" name = "r5y4" value = "" autocapitalize="none" tabindex="58" size="1" maxlength="1"
           STYLE="text-transform:lowercase; color: #FFFFFF; font-family: Verdana; font-weight: bold; font-size: 30px; background-color: #C9B458;"/>
    <input type = "text" name = "r5y5" value = "" autocapitalize="none" tabindex="59" size="1" maxlength="1"
           STYLE="text-transform:lowercase; color: #FFFFFF; font-family: Verdana; font-weight: bold; font-size: 30px; background-color: #C9B458;"/>
</p>
    <p>
        <!-- row6 yellow 5 r6y1 r6y2 r6y3 r6y4 r6y5 -->
        <input type = "text" name = "r6y1" value = "" autocapitalize="none" tabindex="60" size="1" maxlength="1"
               STYLE="text-transform:lowercase; color: #FFFFFF; font-family: Verdana; font-weight: bold; font-size: 30px; background-color: #C9B458;"/>
        <input type = "text" name = "r6y2" value = "" autocapitalize="none" tabindex="61" size="1" maxlength="1"
               STYLE="text-transform:lowercase; color: #FFFFFF; font-family: Verdana; font-weight: bold; font-size: 30px; background-color: #C9B458;"/>
        <input type = "text" name = "r6y3" value = "" autocapitalize="none" tabindex="62" size="1" maxlength="1"
               STYLE="text-transform:lowercase; color: #FFFFFF; font-family: Verdana; font-weight: bold; font-size: 30px; background-color: #C9B458;"/>
        <input type = "text" name = "r6y4" value = "" autocapitalize="none" tabindex="63" size="1" maxlength="1"
               STYLE="text-transform:lowercase; color: #FFFFFF; font-family: Verdana; font-weight: bold; font-size: 30px; background-color: #C9B458;"/>
        <input type = "text" name = "r6y5" value = "" autocapitalize="none" tabindex="64" size="1" maxlength="1"
               STYLE="text-transform:lowercase; color: #FFFFFF; font-family: Verdana; font-weight: bold; font-size: 30px; background-color: #C9B458;"/>
    </p>
    <p>
        <input type = "submit" value = "Submit" autocapitalize="none"
               STYLE="font-family: Verdana; font-weight: bold; font-size: 30px;"/>
    </p>
</form>
