<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="shortcut icon" href="{{ url_for('static', filename='Rb-star.ico') }}">
<link rel="icon" href="{{ url_for('static', filename='Rb-star.ico') }}">
<meta name="description" content="latest wordl cheat.">
<h2 style="text-align: center; font-family: Verdana; font-size: 30px;">Wordl Cheat Sheet</h2>
<form action="/data4" method = "POST">
<div></div>
<p>
    <input type = "submit" value = "Submit" autocapitalize="none"
           STYLE="font-family: Verdana; font-weight: bold; font-size: 30px;"/>
</p>

    <!-- row1 green r1g1 r1g2 r1g3 r1g4 r1g5  -->
<p>
<p STYLE="font-family: Verdana; font-size: 20px;"/>
   KNOWN characters <br>
</p>
    <input type = "text" name = "r1g1" value = "" autocapitalize="off" tabindex="1" size="1" maxlength="1"
           STYLE="text-transform:lowercase; color: #FFFFFF; font-family: Verdana; font-weight: bold; font-size: 30px; background-color: #6AAA64;"/>
    <input type = "text" name = "r1g2" value = "" autocapitalize="none" tabindex="2" size="1" maxlength="1"
           STYLE="text-transform: lowercase; color: #FFFFFF; font-family: Verdana; font-weight: bold; font-size: 30px; background-color: #6AAA64;"/>
    <input type = "text" name = "r1g3" value = "" autocapitalize="none" tabindex="3" size="1" maxlength="1"
           STYLE="text-transform:lowercase; color: #FFFFFF; font-family: Verdana; font-weight: bold; font-size: 30px; background-color: #6AAA64;"/>
    <input type = "text" name = "r1g4" value = "" autocapitalize="none" tabindex="4" size="1" maxlength="1"
           STYLE="text-transform:lowercase; color: #FFFFFF; font-family: Verdana; font-weight: bold; font-size: 30px; background-color: #6AAA64;"/>
    <input type = "text" name = "r1g5" value = "" autocapitalize="none" tabindex="5" size="1" maxlength="1"
           STYLE="text-transform:lowercase; color: #FFFFFF; font-family: Verdana; font-weight: bold; font-size: 30px; background-color: #6AAA64;"/>
</p>
<p STYLE="font-family: Verdana; font-size: 20px;"/>
    Characters IN the word<br>
</p>
<p>
    <input type = "text" name = "yy" value = "" autocapitalize="none" tabindex="1" size="17" maxlength="17"
           STYLE="text-transform:lowercase; color: #FFFFFF; font-family: Verdana; font-weight: bold; font-size: 30px; background-color: #C9B458;"/>
</p>
<p>
<p STYLE="font-family: Verdana; font-size: 20px;"/>
    Characters NOT in the word<br>
</p>
    <input type = "text" name = "nn" value = "" autocapitalize="none" tabindex="0" size="17" maxlength="17"
           STYLE="text-transform:lowercase; color: #FFFFFF; font-family: Verdana; font-weight: bold; font-size: 30px; background-color: #787C7E;"/>
</p>
<p>
     <input type = "submit" value = "Submit" autocapitalize="none"
           STYLE="font-family: Verdana; font-weight: bold; font-size: 30px;"/>
</p>
<select name="lang" id="lang">
    <option name="english">english</option>
    <option name="arabic">arabic</option>
    <option name="croatian">croatian</option>
    <option name="czech">czech</option>
    <option name="danish">danish</option>
    <option name="dutch">dutch</option>
    <option name="french">french</option>
    <option name="georgian">georgian</option>
    <option name="german">german</option>
    <option name="hebrew">hebrew</option>
    <option name="italian">italian</option>
    <option name="norwegian">norwegian</option>
    <option name="polish">polish</option>
    <option name="portuguese">portuguese</option>
    <option name="russian">russian</option>
    <option name="serbian">serbian</option>
    <option name="spanish">spanish</option>
    <option name="swedish">swedish</option>
    <option name="turkish">turkish</option>
    <option name="ukrainian">ukrainian</option>
</select>

</form>
