<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="shortcut icon" href="{{ url_for('static', filename='Rb-star.ico') }}">
<link rel="icon" href="{{ url_for('static', filename='Rb-star.ico') }}">
<meta name="description" content="wordl cheat.">
<h2 style="text-align: center;">Wordl Cheat Sheet</h2>
<h3 style="text-align: center;">LOWERCASE ONLY. Hit submit to see all the available words + count</h3>
<form action="/data2" method = "POST">
<div></div>
<p>
    <input type = "submit" value = "Submit" autocapitalize="none"
           STYLE="font-family: Verdana; font-weight: bold; font-size: 30px;"/>
</p>

<p>NOT CHARS <input type = "text" name = "nn" value = "" autocapitalize="none" tabindex="11" size="20" maxlength="20"
        STYLE="color: #FFFFFF; font-family: Verdana; font-weight: bold; font-size: 30px; background-color: #787C7E;"/>
</p>
<p>
    <!-- row1 r1g1 r1g2 r1g3 r1g4 r1g5 r1y1 r1y2 r1y3 r1y4 r1y5 -->
    row1 <input type = "text" name = "r1g1" value = "" autocapitalize="none" tabindex="1" size="1" maxlength="1"
                STYLE="color: #FFFFFF; font-family: Verdana; font-weight: bold; font-size: 30px; background-color: #6AAA64;"/>
    <input type = "text" name = "r1g2" value = "" autocapitalize="none" tabindex="2" size="1" maxlength="1"
                STYLE="color: #FFFFFF; font-family: Verdana; font-weight: bold; font-size: 30px; background-color: #6AAA64;"/>
    <input type = "text" name = "r1g3" value = "" autocapitalize="none" tabindex="3" size="1" maxlength="1"
                STYLE="color: #FFFFFF; font-family: Verdana; font-weight: bold; font-size: 30px; background-color: #6AAA64;"/>
    <input type = "text" name = "r1g4" value = "" autocapitalize="none" tabindex="4" size="1" maxlength="1"
                STYLE="color: #FFFFFF; font-family: Verdana; font-weight: bold; font-size: 30px; background-color: #6AAA64;"/>
    <input type = "text" name = "r1g5" value = "" autocapitalize="none" tabindex="5" size="1" maxlength="1"
           STYLE="color: #FFFFFF; font-family: Verdana; font-weight: bold; font-size: 30px; background-color: #6AAA64;"/>
    <!-- r1 yellow -->
    <input type = "text" name = "r1y1" value = "" autocapitalize="none" tabindex="6" size="1" maxlength="1"
    STYLE="color: #FFFFFF; font-family: Verdana; font-weight: bold; font-size: 30px; background-color: #C9B458;"/>
    <input type = "text" name = "r1y2" value = "" autocapitalize="none" tabindex="7" size="1" maxlength="1"
           STYLE="color: #FFFFFF; font-family: Verdana; font-weight: bold; font-size: 30px; background-color: #C9B458;"/>
    <input type = "text" name = "r1y3" value = "" autocapitalize="none" tabindex="8" size="1" maxlength="1"
           STYLE="color: #FFFFFF; font-family: Verdana; font-weight: bold; font-size: 30px; background-color: #C9B458;"/>
    <input type = "text" name = "r1y4" value = "" autocapitalize="none" tabindex="9" size="1" maxlength="1"
           STYLE="color: #FFFFFF; font-family: Verdana; font-weight: bold; font-size: 30px; background-color: #C9B458;"/>
    <input type = "text" name = "r1y5" value = "" autocapitalize="none" tabindex="10" size="1" maxlength="1"
           STYLE="color: #FFFFFF; font-family: Verdana; font-weight: bold; font-size: 30px; background-color: #C9B458;"/>
</p>
<p>
    <!-- row2 r2g1 r2g2 r2g3 r2g4 r2g5 r2y1 r2y2 r2y3 r2y4 r2y5 -->
    row2 <input type = "text" name = "r2g1" value = "" autocapitalize="none" tabindex="11" size="1" maxlength="1"
                STYLE="color: #FFFFFF; font-family: Verdana; font-weight: bold; font-size: 30px; background-color: #6AAA64;"/>
    <input type = "text" name = "r2g2" value = "" autocapitalize="none" tabindex="12" size="1" maxlength="1"
           STYLE="color: #FFFFFF; font-family: Verdana; font-weight: bold; font-size: 30px; background-color: #6AAA64;"/>
    <input type = "text" name = "r2g3" value = "" autocapitalize="none" tabindex="13" size="1" maxlength="1"
           STYLE="color: #FFFFFF; font-family: Verdana; font-weight: bold; font-size: 30px; background-color: #6AAA64;"/>
    <input type = "text" name = "r2g4" value = "" autocapitalize="none" tabindex="14" size="1" maxlength="1"
           STYLE="color: #FFFFFF; font-family: Verdana; font-weight: bold; font-size: 30px; background-color: #6AAA64;"/>
    <input type = "text" name = "r2g5" value = "" autocapitalize="none" tabindex="15" size="1" maxlength="1"
           STYLE="color: #FFFFFF; font-family: Verdana; font-weight: bold; font-size: 30px; background-color: #6AAA64;"/>
    <!-- r2 yellow -->
    <input type = "text" name = "r2y1" value = "" autocapitalize="none" tabindex="16" size="1" maxlength="1"
           STYLE="color: #FFFFFF; font-family: Verdana; font-weight: bold; font-size: 30px; background-color: #C9B458;"/>
    <input type = "text" name = "r2y2" value = "" autocapitalize="none" tabindex="17" size="1" maxlength="1"
           STYLE="color: #FFFFFF; font-family: Verdana; font-weight: bold; font-size: 30px; background-color: #C9B458;"/>
    <input type = "text" name = "r2y3" value = "" autocapitalize="none" tabindex="18" size="1" maxlength="1"
           STYLE="color: #FFFFFF; font-family: Verdana; font-weight: bold; font-size: 30px; background-color: #C9B458;"/>
    <input type = "text" name = "r2y4" value = "" autocapitalize="none" tabindex="19" size="1" maxlength="1"
           STYLE="color: #FFFFFF; font-family: Verdana; font-weight: bold; font-size: 30px; background-color: #C9B458;"/>
    <input type = "text" name = "r2y5" value = "" autocapitalize="none" tabindex="20" size="1" maxlength="1"
           STYLE="color: #FFFFFF; font-family: Verdana; font-weight: bold; font-size: 30px; background-color: #C9B458;"/>
</p>
<p>
    <!-- row3 r3g1 r3g2 r3g3 r3g4 r3g5 r3y1 r3y2 r3y3 r3y4 r3y5 -->
    row3 <input type = "text" name = "r3g1" value = "" autocapitalize="none" tabindex="21" size="1" maxlength="1"
                STYLE="color: #FFFFFF; font-family: Verdana; font-weight: bold; font-size: 30px; background-color: #6AAA64;"/>
    <input type = "text" name = "r3g2" value = "" autocapitalize="none" tabindex="22" size="1" maxlength="1"
           STYLE="color: #FFFFFF; font-family: Verdana; font-weight: bold; font-size: 30px; background-color: #6AAA64;"/>
    <input type = "text" name = "r3g3" value = "" autocapitalize="none" tabindex="23" size="1" maxlength="1"
           STYLE="color: #FFFFFF; font-family: Verdana; font-weight: bold; font-size: 30px; background-color: #6AAA64;"/>
    <input type = "text" name = "r3g4" value = "" autocapitalize="none" tabindex="24" size="1" maxlength="1"
           STYLE="color: #FFFFFF; font-family: Verdana; font-weight: bold; font-size: 30px; background-color: #6AAA64;"/>
    <input type = "text" name = "r3g5" value = "" autocapitalize="none" tabindex="25" size="1" maxlength="1"
           STYLE="color: #FFFFFF; font-family: Verdana; font-weight: bold; font-size: 30px; background-color: #6AAA64;"/>
    <!-- r3 yellow -->
    <input type = "text" name = "r3y1" value = "" autocapitalize="none" tabindex="26" size="1" maxlength="1"
           STYLE="color: #FFFFFF; font-family: Verdana; font-weight: bold; font-size: 30px; background-color: #C9B458;"/>
    <input type = "text" name = "r3y2" value = "" autocapitalize="none" tabindex="27" size="1" maxlength="1"
           STYLE="color: #FFFFFF; font-family: Verdana; font-weight: bold; font-size: 30px; background-color: #C9B458;"/>
    <input type = "text" name = "r3y3" value = "" autocapitalize="none" tabindex="28" size="1" maxlength="1"
           STYLE="color: #FFFFFF; font-family: Verdana; font-weight: bold; font-size: 30px; background-color: #C9B458;"/>
    <input type = "text" name = "r3y4" value = "" autocapitalize="none" tabindex="29" size="1" maxlength="1"
           STYLE="color: #FFFFFF; font-family: Verdana; font-weight: bold; font-size: 30px; background-color: #C9B458;"/>
    <input type = "text" name = "r3y5" value = "" autocapitalize="none" tabindex="30" size="1" maxlength="1"
           STYLE="color: #FFFFFF; font-family: Verdana; font-weight: bold; font-size: 30px; background-color: #C9B458;"/>
</p>
<p>
    <!-- row4 r4g1 r4g2 r4g3 r4g4 r4g5 r4y1 r4y2 r4y3 r4y4 r4y5 -->
    row4 <input type = "text" name = "r4g1" value = "" autocapitalize="none" tabindex="31" size="1" maxlength="1"
                STYLE="color: #FFFFFF; font-family: Verdana; font-weight: bold; font-size: 30px; background-color: #6AAA64;"/>
    <input type = "text" name = "r4g2" value = "" autocapitalize="none" tabindex="32" size="1" maxlength="1"
           STYLE="color: #FFFFFF; font-family: Verdana; font-weight: bold; font-size: 30px; background-color: #6AAA64;"/>
    <input type = "text" name = "r4g3" value = "" autocapitalize="none" tabindex="33" size="1" maxlength="1"
           STYLE="color: #FFFFFF; font-family: Verdana; font-weight: bold; font-size: 30px; background-color: #6AAA64;"/>
    <input type = "text" name = "r4g4" value = "" autocapitalize="none" tabindex="34" size="1" maxlength="1"
           STYLE="color: #FFFFFF; font-family: Verdana; font-weight: bold; font-size: 30px; background-color: #6AAA64;"/>
    <input type = "text" name = "r4g5" value = "" autocapitalize="none" tabindex="35" size="1" maxlength="1"
           STYLE="color: #FFFFFF; font-family: Verdana; font-weight: bold; font-size: 30px; background-color: #6AAA64;"/>
    <!-- r4 yellow -->
    <input type = "text" name = "r4y1" value = "" autocapitalize="none" tabindex="36" size="1" maxlength="1"
           STYLE="color: #FFFFFF; font-family: Verdana; font-weight: bold; font-size: 30px; background-color: #C9B458;"/>
    <input type = "text" name = "r4y2" value = "" autocapitalize="none" tabindex="37" size="1" maxlength="1"
           STYLE="color: #FFFFFF; font-family: Verdana; font-weight: bold; font-size: 30px; background-color: #C9B458;"/>
    <input type = "text" name = "r4y3" value = "" autocapitalize="none" tabindex="38" size="1" maxlength="1"
           STYLE="color: #FFFFFF; font-family: Verdana; font-weight: bold; font-size: 30px; background-color: #C9B458;"/>
    <input type = "text" name = "r4y4" value = "" autocapitalize="none" tabindex="39" size="1" maxlength="1"
           STYLE="color: #FFFFFF; font-family: Verdana; font-weight: bold; font-size: 30px; background-color: #C9B458;"/>
    <input type = "text" name = "r4y5" value = "" autocapitalize="none" tabindex="40" size="1" maxlength="1"
           STYLE="color: #FFFFFF; font-family: Verdana; font-weight: bold; font-size: 30px; background-color: #C9B458;"/>
</p>
<p>
    <!-- row5 r5g1 r5g2 r5g3 r5g4 r5g5 r5y1 r5y2 r5y3 r5y4 r5y5 -->
    row5 <input type = "text" name = "r5g1" value = "" autocapitalize="none" tabindex="50" size="1" maxlength="1"
                STYLE="color: #FFFFFF; font-family: Verdana; font-weight: bold; font-size: 30px; background-color: #6AAA64;"/>
    <input type = "text" name = "r5g2" value = "" autocapitalize="none" tabindex="51" size="1" maxlength="1"
           STYLE="color: #FFFFFF; font-family: Verdana; font-weight: bold; font-size: 30px; background-color: #6AAA64;"/>
    <input type = "text" name = "r5g3" value = "" autocapitalize="none" tabindex="52" size="1" maxlength="1"
           STYLE="color: #FFFFFF; font-family: Verdana; font-weight: bold; font-size: 30px; background-color: #6AAA64;"/>
    <input type = "text" name = "r5g4" value = "" autocapitalize="none" tabindex="53" size="1" maxlength="1"
           STYLE="color: #FFFFFF; font-family: Verdana; font-weight: bold; font-size: 30px; background-color: #6AAA64;"/>
    <input type = "text" name = "r5g5" value = "" autocapitalize="none" tabindex="54" size="1" maxlength="1"
           STYLE="color: #FFFFFF; font-family: Verdana; font-weight: bold; font-size: 30px; background-color: #6AAA64;"/>
    <!-- r5 yellow -->
    <input type = "text" name = "r5y1" value = "" autocapitalize="none" tabindex="55" size="1" maxlength="1"
           STYLE="color: #FFFFFF; font-family: Verdana; font-weight: bold; font-size: 30px; background-color: #C9B458;"/>
    <input type = "text" name = "r5y2" value = "" autocapitalize="none" tabindex="56" size="1" maxlength="1"
           STYLE="color: #FFFFFF; font-family: Verdana; font-weight: bold; font-size: 30px; background-color: #C9B458;"/>
    <input type = "text" name = "r5y3" value = "" autocapitalize="none" tabindex="57" size="1" maxlength="1"
           STYLE="color: #FFFFFF; font-family: Verdana; font-weight: bold; font-size: 30px; background-color: #C9B458;"/>
    <input type = "text" name = "r5y4" value = "" autocapitalize="none" tabindex="58" size="1" maxlength="1"
           STYLE="color: #FFFFFF; font-family: Verdana; font-weight: bold; font-size: 30px; background-color: #C9B458;"/>
    <input type = "text" name = "r5y5" value = "" autocapitalize="none" tabindex="59" size="1" maxlength="1"
           STYLE="color: #FFFFFF; font-family: Verdana; font-weight: bold; font-size: 30px; background-color: #C9B458;"/>
</p>
</form>
